extends layout
 
block content
  h1  add COMPANY INTRO - TBD
  section.css-table
    section.two-column
      section.cell
        h2 Section 1
        p Description
      section.cell
        h2 Section 2
        p Description
      section.css-table
    section.three-column
      section.cell
        h3 small section 1
        p add description.
      section.cell
        h3 small section 2
        p add description.
